/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */

.cta-btn--primary {
  background-image: linear-gradient(
    to right,
    #ff6561,
    #fe5e5a,
    #fd5654,
    #fc4e4d,
    #fb4546
  );
  border: 2px solid transparent;
  border-radius: 6px;
  color: white;

  &:hover {
    transform: translateX(4px);
  }
}

a.cta-btn--secondary {
  background: transparent;
  border: 2px solid $primary-color;
  border-radius: 6px;
  color: #ff7773;

  &:hover {
    background-color: hsla(2, 95%, 76%, 0.082);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
