/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */

.cta-btn--primary {
  background-color: hsl(162, 73%, 74%);
  border: 2px solid transparent;
  border-radius: 6px;

  &:hover {
    transform: translateX(4px);
  }
}

a.cta-btn--secondary {
  background: transparent;
  border: 2px solid hsl(166, 64%, 49%);
  border-radius: 6px;
  color: hsl(166, 64%, 49%);

  &:hover {
    background-color: hsla(2, 95%, 76%, 0.082);
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
