#about {
  background-color: #1c1f27;
  background-image: linear-gradient(
    to top,
    #292c36,
    #262932,
    #22252e,
    #1f222b,
    #1c1f27
  );
  color: hsl(0, 0%, 97%);
  height: 100%;
  margin-top: 100vh;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

    .rounded-corners {
      border-radius: 2%;
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      &-text {
        text-align: left;

        @include respond(tab-port) {
          font-size: 1.5rem;
        }
        @include respond(phone) {
          font-size: 1.6rem;
        }

        &--important {
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;
          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }

        a {
          color: hsl(166, 64%, 49%);

          &:hover {
            color: hsl(164, 70%, 63%);
          }
        }
      }
    }
  }
}
